## Data pre-processing for clustering

### Calculate statistics of variables

In [1]:
import numpy as np
import pandas as pd

In [4]:
data = pd.read_csv('data.csv')

In [5]:
data.head()

   var1    var2     var3
0   137   1.840    2.898
1   335   0.910    0.687
2   172   4.104    8.326
3   355   6.661    1.582
4   303  15.285  110.750

In [6]:

print(data.mean())


print(data.std())


print(data.describe())

var1    251.85000
var2      1.92559
var3     12.55028
dtype: float64
var1    90.993104
var2     2.583730
var3    34.516362
dtype: float64
             var1       var2        var3
count  100.000000  100.00000  100.000000
mean   251.850000    1.92559   12.550280
std     90.993104    2.58373   34.516362
min    101.000000    0.04800    0.002000
25%    171.750000    0.61250    0.280750
50%    250.000000    1.17550    1.260500
75%    339.250000    2.20800    5.568000
max    397.000000   15.31200  228.779000